@import url('reset.css');

@import url('../font/stylesheet.css');

@import url('../font/webfonts/stylesheet.css');

@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,700');

@import url('http://fonts.googleapis.com/css?family=Oswald:400,700,300');

@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
body {
  font-size: 16px;
  font-family: 'PT Serif', serif;
  margin: 0;
  background: url('../assets/debut_light.png');
}
.contentWrapper {
  display: block;
  width: 100%;
  margin-top: 0.75%;
}
#about figcaption {
  background: rgba(0, 0, 0, 0.8);
}
#specialAbout:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.5;
}
div.block {
  background: #eee;
  position: relative;
  float: left;
  margin-left: 0.25%;
  margin-bottom: 0.25%;
  width: 24.6875%;
}
div.block:nth-of-type(4n+1) {
  margin-left: 0.25%;
  clear: left;
}
div.block img {
  width: 100%;
  position: relative;
  display: block;
}
div.block:hover figcaption {
  opacity: 1;
}
div.block figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 184, 171, 0.6);
  vertical-align: middle;
  height: 90%;
  min-height: 90%;
  width: 90%;
  opacity: 0;
  text-align: center;
  z-index: 100;
  padding: 5%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
div.block figcaption ul li {
  display: inline-block;
  background: #fdfbf0;
  padding: 2px;
  color: #00b8ab;
  margin-bottom: 0.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
div.block figcaption h1 {
  display: block;
  height: 70%;
  font-size: 1.75em;
  font-family: 'Oswald', 'PT Sans Narrow';
  font-weight: 100;
  line-height: 120%;
  text-align: center;
  color: white;
}
header {
  padding: 0.5em;
  padding-top: 1.25em;
  font-size: 2em;
  background: #00b8ab;
  color: black;
  font-family: 'Oswald', 'PT Sans Narrow';
  z-index: 100000000;
  -webkit-box-shadow: 0px 2px 10px 0px black;
}
header h1 {
  display: block;
  margin: 0;
  line-height: 80%;
  font-size: 2em;
}
header h1 a {
  text-decoration: none;
  color: #fdfbf0;
  font-weight: 700;
  text-shadow: 2px 2px black;
}
header nav {
  display: block;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  margin-right: 10px;
  font-weight: 100;
  border-top: 0px;
  line-height: 80%;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}
header nav a:hover {
  border-top: 2px solid black;
}
header h3 {
  display: block;
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
}
#title-header {
  display: block;
  background: black;
  color: #00b8ab;
  text-align: center;
  font-family: 'Oswald', 'PT Sans Narrow';
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 0.3em;
  width: 100%;
  -webkit-box-shadow: 0px 2px 1px 1px black;
  -moz-box-shadow: 0px 2px 1px 1px black;
  -o-box-shadow: 0px 2px 1px 1px black;
  -ms-box-shadow: 0px 2px 1px 1px black;
  box-shadow: 0px 2px 1px 1px black;
  position: fixed;
  opacity: 0.6;
  z-index: 1000000;
}
.articleTitle {
  background: url('../assets/darkdenim3.png');
  -webkit-box-shadow: 0px 2px 10px 0px black;
  margin-top: 2.5%;
  padding-top: 1%;
  padding-right: 2%;
}
.articleTitle h2 {
  font-family: 'Oswald', 'PT Sans Narrow';
  font-weight: 100;
  font-size: 2.5em;
  padding-left: 5%;
  line-height: 100%;
  color: #00b8ab;
}
.articleTitle h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
  padding-left: 5%;
  color: white;
}
.articleTitle #prev {
  float: right;
}
.articleTitle p {
  color: white;
  padding: 1%;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 1.2em;
  border: 2px solid white;
  margin-right: 1%;
}
.articleTitle p:hover {
  border: 1px solid #ffffff;
}
article {
  padding-top: 0.5%;
  padding-bottom: 5%;
}
article .backgroundBox {
  padding: 1% 0 1%;
  width: 100%;
  margin-top: 2%;
}
article #theme1 {
  background: url('../assets/darkdenim3.png');
  -webkit-box-shadow: 0px 2px 10px 0px black;
  color: white;
}
article #theme2 {
  color: #595959;
}
article .textBlock {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  max-width: 800px;
}
article .textBlock .image {
  display: inline-block;
  width: 47.5%;
}
article .textBlock .image img {
  width: 100%;
  border: 2px solid #00b8ab;
}
article .textBlock #headerImg {
  width: 20%;
  margin-right: 3%;
}
article .textBlock #headerImg img {
  border: 10px solid #00b8ab;
  -webkit-box-shadow: 0px 2px 10px 0px black;
}
article .textBlock #headerCap {
  width: 70%;
  font-size: 1.2em;
  color: #00b8ab;
}
article .textBlock .caption {
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
  padding: 0 1.25%;
}
article #headerBox {
  font-size: 1.1em;
}
.youtube-container {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 90%;
  height: auto;
  margin: 5% auto;
}
.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fullWidth {
  width: 100%;
}
.container {
  padding: 0 0;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #fdfbf0;
}
.container #slides {
  width: 100%;
  margin: 0 auto;
  max-width: 940px;
}
.special_body {
  background: #fdfbf0;
}
.attachments {
  margin-top: 5%;
  margin-left: 5%;
}
.attachments li {
  display: inline-block;
  background: #00b8ab;
  padding: 5px;
  margin-right: 10px;
  letter-spacing: 1px;
  opacity: 0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.attachments li:hover {
  background: #595959;
}
.attachments li a {
  color: white;
  font-family: 'Oswald', 'PT Sans Narrow';
  font-size: 2em;
  font-weight: 100;
  text-decoration: none;
}
.attachments li a i {
  font-size: 1em;
  text-align: center;
}
.attachments li a #code {
  padding-right: 15px;
}
/* Mixins */
